.filters {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(230, 239, 253);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.375rem;
  gap: 1rem;
}

.filters__name {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 60%;
  color: white;
  font-size: 70px;
  z-index: 0;
}

.filters__input {
  z-index: 1;
  height: 30px;
  width: 250px;
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 480px) {
  .filters {
    flex-direction: column;
  }

  .filters__input {
    width: 100%;
  }

  filters__name {
    display: none;
  }
}
