.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 350px;
  height: 30px;
  margin: 10px;
}

.contaner{
  margin: 0 auto;
  margin-bottom: 2rem;;
}
